/* Обнуление */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    font-size: 18px;
    color: #fff;
    font-family: 'Gilroy Bold';
}

/* ==================== */
@font-face {
    font-family: 'Chronicle Display Bold';
    src: url('../fonts/ChronicleDisplay-Bold.eot');
    src: url('../fonts/ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-Bold.woff2') format('woff2'),
        url('../fonts/ChronicleDisplay-Bold.woff') format('woff'),
        url('../fonts/ChronicleDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chronicle Display Semibold';
    src: url('../fonts/ChronicleDisplay-Semi.eot');
    src: url('../fonts/ChronicleDisplay-Semi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ChronicleDisplay-Semi.woff2') format('woff2'),
        url('../fonts/ChronicleDisplay-Semi.woff') format('woff'),
        url('../fonts/ChronicleDisplay-Semi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    max-width: 1498px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    max-width: 1797px;
    margin: 0 auto;
    padding: 55px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.header__menu-link {
    color: #fff;
    font-size: 18px;
}

.logo {
    font-size: 32px;
    color: #fff;
    font-family: 'Chronicle Display Bold';
}

.account {
    position: relative;
    font-size: 17px;
    color: #fff;
}

.account:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    background: url(../img/svg/account-icon.svg) no-repeat;
}

.header__menu-item {
    display: inline-block;
    margin: 0 40px 0 0;
}

.header__menu-item:last-child {
    margin: 0;
}

.first-screen {
    background: url(../img/main-bg.png) no-repeat;
    background-size: cover;
    min-height: 1900px;
    margin: -100px 0 0 0;
    padding: 364px 0 0 0;
    position: relative;
}

.first-screen__content {
    max-width: 1797px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 18px;
}

.social__text {
    writing-mode: vertical-lr;
}

.social__item {
    margin: 26px 0 0 0;
}

.subtitle {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin: 0 0 25px 0;
}

.first-screen__text .subtitle {
    margin: 0 0 28px 20px;
}

.subtitle__line {
    width: 72px;
    height: 2px;
    background: #FBD784;
    display: inline-block;
    margin: 0 32px 0 0;
}

.subtitle__text {
    color: #FBD784;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 6px;
    font-family: 'Gilroy Extra Bold';
    text-transform: uppercase;
}

.first-screen__title {
    font-family: 'Chronicle Display Bold';
    font-size: 88px;
    line-height: 100px;
    margin: 0 0 37px 0;
}

.scroll-down {
    position: relative;
    color: #fff;
    margin: 0 0 0 22px;
    padding: 0 32px 0 0;
}

.first-screen__text {
    margin: -72px 0 0 0;
}

.scroll-down:after {
    content: url(../img/svg/arrow-down.svg);
    position: absolute;
    right: 0;
}


.indicator__list {
    text-align: right;
    margin: -17px 0 0 0;
    position: relative;
    right: 42px;
}

.indicator__list:after {
    content: '';
    height: calc(100% + 7px);
    width: 3px;
    background: #FFFFFF;
    opacity: 0.5;
    position: absolute;
    right: -35px;
    top: 0;
}

.indicator__list-item {
    margin: 0 0 40px 0;
    position: relative;
}

.indicator__list-item.active:after {
    content: '';
    width: 3px;
    height: 60px;
    position: absolute;
    right: -35px;
    top: -16px;
    background: #fff;
}

.indicator__list-item:last-child {
    margin: 0;
}

.page-content {
    background: #0B1D26;
    margin: -455px 0 0 0;
    padding: 0 0 135px 0;
}

.page-content__box {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 0 0 195px 0;

}

.page-content__inner {
    counter-reset: section;
}

.page-content__box:last-child {
    margin: 0;
}

.page-content__item:nth-child(2n+2) {
    justify-self: flex-end;
}

.page-content__item:nth-child(2n+2) .page-content__text {
    margin: 141px 0 0 108px;
}

.page-content__item {
    position: relative;
    z-index: 3;
}

.page-content__item:nth-child(3n+3) {
    margin: 0 0 0 16px;
}

.page-content__text {
    position: relative;
    margin: 141px 0 0 168px;
}

.page-content__text:before {
    position: absolute;
    top: -125px;
    left: -154px;
    font-size: 240px;
    opacity: 0.1;
    color: #fff;
    counter-increment: section;
    content: "0" counter(section);
}

.page-content__title {
    font-family: 'Chronicle Display Semibold';
    font-size: 64px;
    line-height: 76.8px;
    margin: 0 0 27px 0;
}

.page-content__descr {
    line-height: 32px;
    margin: 0 0 30px 0;
}

.page-content__link {
    position: relative;
    padding: 0 39px 0 0;
    color: #FBD784;
}

.page-content__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.page-content__link:after {
    content: url(../img/svg/arrow-right.svg);
    position: absolute;
    right: 0;
}

.footer {
    background: #0B1D26;
    padding: 58px 0 105px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px auto;
}

.footer__logo {
    margin: 0 0 24px 0;
    display: inline-block;
}

.footer__descr {
    line-height: 32px;
    max-width: 303px;
}

.footer__text {
    margin: 0 0 0 16px;
}


.copy {
    font-family: 'Gilroy Medium';
    opacity: 0.5;
    margin: 0 0 0 7px;
}

.footer__menu-box {
    display: flex;
    column-gap: 212px;
}

.footer__menu {
    text-align: left;
}

.footer__menu-item:first-child {
    margin: 0 0 26px 0;
}

.footer__menu-item:first-child .footer__menu-link {
    font-size: 24px;
    line-height: 32px;
    color: #FBD784;
}

.footer__menu-item {
    margin: 0 0 16px 0;
}

.footer__menu-link {
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: 'Gilroy Medium';
}

@media screen and (max-width: 1700px) {
    .first-screen__text {
        margin: 0;
    }
}

@media screen and (max-width: 1300px) {
    .first-screen__title {
        font-size: 52px;
        line-height: 60px;
    }

    .first-screen {
        padding: 240px 0 0 0;
    }

    .page-content__text:before {
        font-size: 130px;
        top: -141px;
        left: -18px;
    }

    .page-content__text {
        margin: 138px 0 0 25px;
        padding: 0 30px 0 0;
    }

    .page-content__item:nth-child(2n+2) .page-content__text {
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 1023px) {
    .indicator__list {
        display: none;
    }

    .first-screen__text {
        padding: 0 15px 0 0;
    }

    .social {
        order: 1;
    }

    .page-content__title {
        font-size: 32px;
        line-height: 36px;
    }

    .page-content__descr {
        font-size: 16px;
        line-height: 22px;
    }

    .page-content__text {
        margin: 110px 0 0 0px;
    }

    .page-content__item:nth-child(2n+2) .page-content__text {
        margin: 110px 0 0 0px;
        padding: 0;
    }

    .page-content__text:before {
        left: 0;
    }

    .page-content__inner {
        margin: 0 0 70px 0;
    }

    .footer__menu-box {
        column-gap: 30px;
    }

    .footer__menu-item:first-child .footer__menu-link {
        font-size: 16px;
        line-height: 20px;
    }

    .footer__menu-item:first-child {
        margin: 0 0 15px 0;
    }

    .footer__menu-item {
        margin: 0 0 10px 0;
    }

    .footer__menu-link {
        font-size: 14px;
        line-height: 18px;
    }

    .page-content {
        padding: 0 0 1px 0;
    }

    .footer {
        padding: 50px 0;
    }
}

@media screen and (max-width: 767px) {
    .header__menu {
        display: none;
    }

    .first-screen__title {
        font-size: 26px;
        line-height: 32px;
        margin: 0 0 28px 0;
    }

    .subtitle__line {
        width: 30px;
        margin: 0 13px 0 0;
        height: 1px;
    }

    .first-screen__text .subtitle {
        margin: 0 0 28px 0px;
    }

    .subtitle__text {
        font-size: 12px;
    }

    .scroll-down {
        margin: 0;
    }

    .page-content__box {
        grid-template-columns: 4fr;
    }

    .page-content__item.image {
        order: -1;
        width: 100%;
        margin: 0 0 40px 0;
    }

    .page-content__text {
        padding: 0;
    }

    .page-content__img {
        width: 100%;
    }

    .first-screen {
        min-height: 1182px;
    }

    .page-content__img img {
        width: 100%;
        height: 100%;
    }

    .page-content__item:nth-child(2n+2) {
        justify-self: flex-start;
    }

    .page-content__box {
        margin: 0 0 70px 0;
    }

    .footer__descr {
        font-size: 15px;
        line-height: 18px;
    }

    .footer__descr {
        max-width: 180px;
    }
}

@media screen and (max-width: 580px) {
    .footer__inner {
        flex-direction: column;
    }

    .footer__descr {
        max-width: 100%;
        margin: 0 0 30px 0;
    }

    .footer__text {
        margin: 0;
    }

    .footer__logo {
        margin: 0 0 15px 0;
    }

    .footer__menu-box {
        justify-content: space-between;
    }

    .copy {
        font-size: 15px;
        margin: 0;
    }
}